{{- if .Values.pdb.enabled }}
{{- if $.Capabilities.APIVersions.Has "policy/v1/PodDisruptionBudget" }}
apiVersion: policy/v1
{{- else -}}
apiVersion: policy/v1beta1
{{- end }}
kind: PodDisruptionBudget
metadata:
  name: {{ include "estafette-ci-web.fullname" . }}
  labels:
    {{- include "estafette-ci-web.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "estafette-ci-web.selectorLabels" . | nindent 6 }}
  maxUnavailable: {{ .Values.pdb.maxUnavailable }}
{{- end }}